.main-content {
    position:relative;
    max-width: 1200px;
    height: 500px;
    background-image:url("../assets/header.jpg");
    margin: 0 auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
     background-position: center; 
}

.main-content > .header > h1, h2, h3 {
    color: white;
    text-align: center;
}

.main-content > .header {
    width: 60%;
    position: absolute;               
    top: 30%;
    left: 20%;             
}

.main-content > .topbar {
    display:flex;
    justify-content:center;
    width: 50%;
    margin: 0 auto;
    padding-top:30px;
    color: white;
    
}

.main-content > .topbar > * {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: gray;
    background-image:
    linear-gradient(
        #8a8a8a, 
        #707070 50%,#5e5e5e 50%, 
        #787878);
    padding: 8px;
    border:none;
    border-right: 1.5px solid rgb(53, 53, 53);
    text-shadow: 0px -2px 0px #4a4a4a, 0px 2px 0px #505050;
    box-shadow: 0px 5px 5px 0px black;
    font-size: 12px;
}

.main-content > .topbar> .topbar-button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1.5px solid rgb(53, 53, 53);
  text-shadow: 0px -2px 0px #4a4a4a, 0px 2px 0px #505050;
}

.main-content > .topbar > .topbar-search {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: gray;
    background-image:
    linear-gradient(
        #8a8a8a, 
        #707070 50%,#5e5e5e 50%, 
        #787878);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border:none;
}

.main-content > .topbar > .topbar-search > input {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: gray;
    background-image:
    linear-gradient(
        #8a8a8a, 
        #707070 50%,#5e5e5e 50%, 
        #787878);
    border-radius: 16px;
    border: 1px solid #4c4c4c;
    box-shadow: 0px -1px 0px #3b3b3b, 0px 1px 0px #898989;

}

.main-content > .topbar > .topbar-search > input::placeholder { 
    color: white;
    opacity: 1;
    padding-left: 10px;
    font-size: 12px;
}
